/* Styles for body */
body {
  background-color: #010419;
}

/* Styles for title */
.title {
  /* text-align: center; */
  font-size: 40px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 16px;
  color: #a3d3c3;
}


/* Styles for button */
.button {
  background-color: #235a52;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 50px;
}

/* Styles for question container */
.questionDIv {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #0f4840;
  border-radius: 4px;
  height: auto;
  overflow: auto;
  background-color: #a3d3c3;
  text-align: center;
}

/* Styles for question list */
.questionDivul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Styles for question list item */
.questionDivli {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.5;
  /* font-weight: bold; */
}

/* Styles for question navigation container */
.questionNav {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles for question navigation buttons */
.questionNav button {
  background-color: #020834;
  font-weight: bold;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
}

/* Styles for tablet view */
@media (min-width: 768px) {
  .questionDIv {
    max-width: 768px;
    margin: 0 auto;
  }
}

/* Styles for mobile view */
@media (max-width: 480px) {
  .questionDIv {
    max-width: 480px;
    margin: 0 auto;
  }
}

/* Styles for loading message */
.loadingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #a69984;
  margin-top: 16px;
  padding: 16px;
  height: auto;
  overflow: auto;
}
